xml-resources/web-service-references/DistributedTaxiDriver/wsdl/abhishek-pc_8080/SlaveTaxiDriverWebService/DistributedTaxiDriver.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://main.uber.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://main.uber.org/">

<xs:element name="getDestinationCoordinates" type="tns:getDestinationCoordinates"/>

<xs:element name="getDestinationCoordinatesResponse" type="tns:getDestinationCoordinatesResponse"/>

<xs:complexType name="getDestinationCoordinates">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="tns:cluster" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cluster">
<xs:sequence>
<xs:element name="centroidLatitude" type="xs:double" minOccurs="0"/>
<xs:element name="centroidLongitude" type="xs:double" minOccurs="0"/>
<xs:element name="crowdCount" type="xs:double" minOccurs="0"/>
<xs:element name="crowdDensity" type="xs:double" minOccurs="0"/>
<xs:element name="drivers" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDestinationCoordinatesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>